/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/




* {
    margin: 0;
}

body {
    font-family: sans-serif;
}

@media (max-width: 768px) {
nav.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
    background-color: #540B51;
 }

.slack-logo {
            width: 8em;
            margin-left: 2em;
            margin-top: 2em;
            margin-bottom: 1em;
 }

.nav-list {
        display:  none;
 }

.icon {
        background-color: #540B51 ;
        border: none;
        padding-top: 20px;
 }
} 

header {
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: white;
    background-color: #540B51;
    border: none;
    font-size: 2em;
}

.header-title {
    size: 300px;
    margin-top: 1em;
}

.header-intro {
    padding-top: 20px;
}

.o-txt {
    color: #ecb12f;
} 


.act {
    padding-top: 20px;
}

.btn-sign-up {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1.3rem 0;
    font-size: 1.5rem;
    margin: 1rem 2rem;
    border-radius: 0.5rem;
    width: 45rem;
    height: 6rem;
    text-transform: uppercase;
    font-weight: bold;
    color: #540B51;
}

.g-sign-up {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.9rem 0;
    background-color: #4285F4;
    color: white;
}

.g-logo {
    background-color: white;
    border-radius: 0.2rem;
    padding: 0.3rem;
    margin: 0 9.8rem 0 1rem;
    width: 2.5rem;
}

.image{
    width: 100%;
    padding-top: 3rem;
    margin:0;
}

.customer {
    background-color: #F3EAE2;
    font-size: 1.5em;
    margin: 0;
}

.customer-h {
    margin: 0;
	font-size: 30px;
    padding: 1em;
}

.customer-p {
    margin: 0;
	font-size: 30px;
    padding-top: 2rem;
}

.features {
    color: #2E71A6;
    display: block;
    font-weight: bold;
    font-size: 1.2rem;
    padding-bottom: 4rem;
    padding-top: 2rem;
    text-decoration: none;
    }

.mission {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: white;
    border: none;
    font-size: 2em;
    padding-top: 4em;
    padding-bottom: 1em;
}

.btn-enterprise {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1.3rem 0;
    font-size: 1.5rem;
    margin: 1rem 2rem;
    border-radius: 0.5rem;
    width: 45rem;
    height: 6rem;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #540B51;
    color: white;
}   

.btn-sales {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1.3rem 0;
    font-size: 1.5rem;
    margin: 1rem 2rem;
    border-radius: 0.5rem;
    width: 45rem;
    height: 6rem;
    text-transform: uppercase;
    font-weight: bold;
    background-color: white;
    color: #540B51;
}

.mission-p {
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 0,5em;
}

.user-research {
    font-size: 0,5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    margin: 7% 20% ;
}

.user-research p {
    display: block; 
    font-weight: bold;
}

.user-research span {
    font-size: 2em;
    color: #540B51;
}

.customer-logo {
    padding: 3rem;
}

.customer p {
    margin: 0;
    padding: 4rem 0 3rem;
    text-align: center;
    font-size: 1.6rem;
    font-weight: bold;
}

.customer div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.customer img {
    height: 4rem;
    object-fit: contain;
    padding: 10px;
}

.hq {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: #540B51;
    color: white;
    font-size: 2em;
    padding-top: 2em;
    padding-bottom: 4em;
}

.hq-h3 {
    padding-bottom: 1em;
}

.btn2-sales {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1.3rem 0;
    font-size: 1.5rem;
    margin: 1rem 2rem;
    border-radius: 0.5rem;
    border-bottom: white;
    width: 45rem;
    height: 6rem;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #540B51;
    color: white;
    padding-top: 1rem;
}

.btn-trial {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1.3rem 0;
    font-size: 1.5rem;
    margin: 1rem 2rem;
    border-radius: 0.5rem;
    width: 45rem;
    height: 6rem;
    text-transform: uppercase;
    font-weight: bold;
    background-color: white;
    color: #540B51;
}

.footer {
    padding-top: 10em;
}

div.footer-nav {

    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    
}

.footer-nav {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    list-style: none;
}

.li-h {
    font-weight: bold;
    margin-bottom: 6px;
}

.terms {

    list-style: none;
    font-weight: bold;
    gap: 3px;

}

.some-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}


.some {
    list-style: none;
   
}

small {

    text-align: center;
}